body {
    background-color: #fedc7b;
}

h2 {
    color: #2a2f66;
    font-size: 45px;
}

.container {
    margin-top: 20px;
}

.book > img{
    width: 300px;
}

#books{
    display: flex;
    flex-wrap: wrap;
}